<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Now you are following "<%= @post.title %>", if you dont want to get any more emails, please unfavorite <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
    <p>
      <%= @post.body %>
    </p>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
